# Pycharm, Byte-compiled
*/__pycache__/*
*.pyc
.idea/

# MacOS
.DS_Store

# Visual Studio Code
.vscode/

# Unit test / coverage reports
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/

# Dask
dask-worker-space/
*.lock
*.dirlock

#Output folders
output/
outputs/